//Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#admin-login{
    display:none;
}

#admin-register{
    display:none;
}

@keyframes admin-slide{
    0% { margin-top: 0px; }
    100% { margin-top: 3rem; }
}

#requests-table{
    position: relative;
    height: 300px;
    overflow: auto;
    display:none;
}

#guests-table{
    position: relative;
    height: 300px;
    overflow: auto;
    display:none;
}

#cancelled-requests-table{
    position: relative;
    height: 300px;
    overflow: auto;
    display:none;
}

#add-Function-container{
    position:relative;
    height:70vh;
    overflow:auto;
    display:none;
}

#error{
    color:red;
    display: none;
}