// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#admin-login{
    display:none;
}

#admin-register{
    display:none;
}

@keyframes admin-slide{
    0% { margin-top: 0px; }
    100% { margin-top: 3rem; }
}